// <div class="nav">
// <div class="nav-top"><p>placehold</p></div>
// <a href=""><button class="logo">insert logo</button></a>
// <a href=""><button>option1</button></a>
// <a href=""><button>option2</button></a>
// <a href=""><button>option3</button></a>
// </div>
// <div>
$background1: #030303;
$primary: transparent;
$secondary: rgb(61, 61, 61);
$tertiary: #6B2DD3;
@font-face {
    font-family: nav;
    src: url(../myFonts/BarlowSemiCondensed-light.ttf);
}
.nav1{
    background-color: $primary;
    cursor: pointer;
    width: 100%;
    top: 0;
    height: 9vw;
    text-align: center;
    }
    .prev5{
        background-color: $primary;
        color: $tertiary;
        font-family: nav;
        text-decoration: none;
        font-weight: bold;
        float: right;
        width: 8vw;
        height: 3vw;
        margin: 3vw 2vw 0 0;
        border: 2px solid $tertiary;
        border-radius: 50px;
        font-size: 1vw;
        transition: .5s;
        &:hover{
            background-color: $tertiary;
            color: white;
            transition: .5s;
        }
    }
    .next5{
        background-color: $primary;
        color: $tertiary;
        font-family: nav;
        text-decoration: none;
        font-weight: bold;
        float: right;
        width: 8vw;
        height: 3vw;
        margin: 3vw 10vw 0 0;
        border: 2px solid $tertiary;
        border-radius: 50px;
        font-size: 1vw;
        transition: .5s;
        &:hover{
            background-color: $tertiary;
            color: white;
            transition: .5s;
        }
    }
    .logo {
        float: left;
        font-size: 2vw;
        color: $tertiary;
        font-weight: bold;
        text-decoration: none;
        background-color: $primary;
        font-family: nav;
        width: 10vw;
        height:3vw;
        margin: 3vw 0 0 8vw;
        background-position: center;
        background-size: cover;
        border: none;
    }
